<p id="notice"><%= notice %></p>

<%= will_paginate @posts %>

<table class="table">
  <tr>
    <th>Short Link</th>
    <th>Url</th>
    <th>Visits</th>
    <th>Actions</th>
  </tr>

  <% @links.each do |link| %>
    <tr>
      <td>
        <%= link_to( "/#{link.short_name}", edit_link_path(link.id) ) %>
      </td>
      <td>
        <%= link_to( link.url, link.url )%>
      </td>
      <td>
        <%= link.clicks %>
      </td>
      <td>
        <%= link_to( "Edit", edit_link_path(link.id) ) %> |
        <%= link_to( "Delete", edit_link_path(link.id), method: :delete, data: {confirm: "Are you sure you want to delete this link?"} ) %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @posts %>
