<p id="notice"><%= notice %></p>

<h3>Info</h3>

<div class="row">
  <div class="col-md-3"><strong>Short Url:</strong></div>
  <div class="col-md-9"><%= link_to( "#{root_url}#{@link.short_name}", "#{root_url}#{@link.short_name}" )%></div>
</div>

<div class="row">
  <div class="col-md-3"><strong>Redirects to:</strong></div>
  <div class="col-md-9"><%= link_to( truncate(@link.url), @link.url, title: @link.url )%></div>
</div>

<div class="row">
  <div class="col-md-3"><strong>When params are passed:</strong></div>

  <% unless @link.params_url.blank? %>
    <div class="col-md-9"><%= link_to( @link.params_url, @link.params_url ) %></div>
  <% else %>
    <div class="col-md-9">(nothing set)</div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-3"><strong>Visits:</strong></div>
  <div class="col-md-9"><%= @link.clicks %></div>
</div>

<br/>
<div class="row">
  <div class="btn-group" role="group">
    <%= link_to "#{fa_icon('pencil-square-o')} Edit".html_safe, edit_link_path(@link), class: "btn btn-default"%>
    <%= link_to "#{fa_icon('trash-o')} Delete".html_safe, link_path(@link), method: :delete, data: {confirm: "Are you sure you want to delete this link?"}, class: "btn btn-default"%>
  </div>
</div>
