<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @link.short_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Params url:</strong>
  <%= @link.params_url %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', root_path %>
